.header {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 100%;
}

@media only screen and (max-width: 800px) {
    .socialButtons {
        display: flex;
        flex-direction: column;
    }
}