.form {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.inputs, .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.label {
    display: inline-block;
    width: 55px;
}

.input {
    width: 50px;
    box-sizing: border-box;
    text-align: center;
}

.button {
    background-color: rgba(0,0,0,0.15);
    border: 0;
    border-radius: 0.5em;
    padding: 5px;
}

.button:not([disabled]):hover {
    background-color: rgba(0,0,0,0.25);
}