.letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    margin-top: 1em;
}

.loading {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
}

.main:hover > .header .addButton {
    visibility: visible;
}

@media only screen and (max-width: 800px) {
    .header .addButton {
        visibility: visible;
    }
}