.letters {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin-top: 1em;
}

.loading {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
}

.main:hover > .header .addButton {
    visibility: visible;
}